<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foyh">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.User"></activity>
        <activity
            android:name=".activity.step1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_step1" />

        <service android:name=".testui.Notification.ExampleService" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.homeactivity"></activity>
        <activity android:name=".activity.profileActivity" />

        <receiver android:name=".testui.Notification.NotiReceiver.NotificationReceiver" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc1" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc2" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc3" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc4" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc5" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc6" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc7" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc8" />
        <receiver android:name=".testui.Notification.NotiReceiver.rc9" />
    </application>

</manifest>